In [1]:
import PhysicsTool as pt
import pandas as pd
import numpy as np
import sympy

In [2]:
x_center = 1.0
y_center = 2.0
z_center = 3.0

x_mean = x_center
x_error = 0.45
y_data = np.random.standard_normal(20) * 0.5 + y_center
z_data = np.random.standard_normal((5, 20)) * 1.5 + z_center

raw_data_table = pd.DataFrame({
    'y' : y_data,
} | {
    f'z_{i}' : col for i, col in enumerate(z_data)
})
print(f'x = {x_mean} +- {x_error}')
display(raw_data_table)

x = 1.0 +- 0.45

           y       z_0       z_1       z_2       z_3       z_4
0   2.096315  2.082575  4.890468  3.614695  1.922292  1.615212
1   2.116093  2.831232  3.058601  2.083540  2.241830  0.755775
2   2.252260  2.076595  3.443595  4.581487  2.622725  5.307162
3   2.221966  4.860905  1.318223  4.418177  2.194714  1.396435
4   2.153422  4.613190  0.961963  2.942583  3.720855  4.851220
5   1.721319  2.250965  4.349615  0.290047  4.216661  1.396300
6   1.855888  4.313152 -0.499520  2.452246  3.540417  5.787162
7   1.889823  3.735030  1.748374  3.107067  2.132723  1.502283
8   2.258752  2.847456  1.991055  1.725809  2.939449  1.683229
9   2.736016  5.157151  4.820189  3.878042  2.762848  2.765860
10  2.086380  5.568415  4.072034  2.717472  2.455961  1.736587
11  1.895482  3.357080  3.331408  8.433839  5.730665  5.304068
12  1.894100  3.339004  3.260017  3.631806  0.269181  2.640364
13  2.048332  3.220634  3.499897  5.045784  4.108994  3.641340
14  1.575693  2.562086  5.307968  3.582680  0.096551  2.361497
15  1.326439  3.362552  0.599797  1.446857  1.703073  3.183394
16  2.471005  5.261546  4.303246 -0.352895  2.062270  5.330424
17  2.361608  4.042526  0.825199  2.808237  0.684067  5.211407
18  1.941835  3.348789  6.298320  3.912281  2.091703 -0.183627
19  1.868427  3.992088  1.165971  5.136874  1.172807  3.352692

In [3]:
x_val = pt.Err(x_mean, x_error)
y_val = pt.Err.from_data(y_data)
display(x_val)
display(y_val)

1.00 ± 0.45

2.039 ± 0.070

In [4]:
z_vals_grouped = pt.Err.from_data(z_data, axis = 1)

grouped_z_table_1 = pd.DataFrame({
    f'z_{i}' : [val.formatted_mean(), val.formatted_err()] for i, val in enumerate(z_vals_grouped)
}, index = ['mean', 'error'])

grouped_z_table_2 = pd.DataFrame({
    'z' : z_vals_grouped.latex_array()
})
grouped_z_table_2.index.name = 'i'

display(z_vals_grouped)
pt.log(grouped_z_table_1)
pt.log(grouped_z_table_2)

['3.64' '2.94' '3.27' '2.43' '2.98'] ± ['0.24' '0.41' '0.42' '0.31' '0.40']

        z_0   z_1   z_2   z_3   z_4
mean   3.64  2.94  3.27  2.43  2.98
error  0.24  0.41  0.42  0.31  0.40

\begin{table}[H]
\centering
\begin{tabular}{lllll}
\toprule
z_0 & z_1 & z_2 & z_3 & z_4 \\
\midrule
3.64 & 2.94 & 3.27 & 2.43 & 2.98 \\
0.24 & 0.41 & 0.42 & 0.31 & 0.40 \\
\bottomrule
\end{tabular}
\caption{Caption}
\label{tab:labelname}
\end{table}

               z
i
0  $3.64\pm0.24$
1  $2.94\pm0.41$
2  $3.27\pm0.42$
3  $2.43\pm0.31$
4  $2.98\pm0.40$

\begin{table}[H]
\centering
\begin{tabular}{l}
\toprule
z \\
\midrule
$3.64\pm0.24$ \\
$2.94\pm0.41$ \\
$3.27\pm0.42$ \\
$2.43\pm0.31$ \\
$2.98\pm0.40$ \\
\bottomrule
\end{tabular}
\caption{Caption}
\label{tab:labelname}
\end{table}

In [5]:
z_val_1 = z_vals_grouped.average()
z_val_2 = z_vals_grouped.weighted_average()

display(z_val_1)
display(z_val_2)

3.05 ± 0.16

3.14 ± 0.15

In [6]:
a,x,y,z,w = sympy.symbols('a,x,y,z,w')

print('our initial equation')
some_equation = sympy.Eq(w + y - sympy.sin(x), a * sympy.exp(y * sympy.sin(x)) / z + 2)
display(some_equation)

print('our equation solved for w')
w_expr = sympy.solve(some_equation, w)[0]
display(w_expr)

print('error derivation of w assuming x,y,z are values with errors and a is a constant')
pt.derive_err(w_expr, values = [x,y,z], target_symbol=w, do_display=True)

our initial equation

Eq(w + y - sin(x), a*exp(y*sin(x))/z + 2)

our equation solved for w

a*exp(y*sin(x))/z - y + sin(x) + 2

error derivation of w assuming x,y,z are values with errors and a is a constant

Eq(s_w**2, s_x**2*Derivative(w(x, z, y), x)**2 + s_y**2*Derivative(w(x, z, y), y)**2 + s_z**2*Derivative(w(x, z, y), z)**2)

Eq(s_w**2, s_x**2*(a*y*exp(y*sin(x))*cos(x)/z + cos(x))**2 + s_y**2*(a*exp(y*sin(x))*sin(x)/z - 1)**2 + s_z**2*(-a*exp(y*sin(x))/z**2)**2)

Eq(s_w, sqrt(s_x**2*(a*y*exp(y*sin(x))*cos(x)/z + cos(x))**2 + s_y**2*(a*exp(y*sin(x))*sin(x)/z - 1)**2 + s_z**2*(-a*exp(y*sin(x))/z**2)**2))

sqrt(s_x**2*(a*y*exp(y*sin(x))*cos(x)/z + cos(x))**2 + s_y**2*(a*exp(y*sin(x))*sin(x)/z - 1)**2 + s_z**2*(-a*exp(y*sin(x))/z**2)**2)

In [7]:
A_VAL = np.pi * 300

w_grouped_val = pt.calc_err(w_expr, {a : A_VAL, x: x_val, y: y_val, z: z_vals_grouped})
w_val_1 = w_grouped_val.average()
w_val_2 = pt.calc_err(w_expr, {a : A_VAL, x: x_val, y: y_val, z: z_val_1})
theoretical_val = pt.calc_err(w_expr, {a: A_VAL, x: x_center, y: y_center, z: z_center})
print('The error when computed for each value in the grouped z vals seperately')
display(w_grouped_val)
print('The average of the values above')
display(w_val_1)
print('The error when computed for the averaged z value')
display(w_val_2)
print('The value computed with the true means of the distribution')
display(theoretical_val)

assert w_val_1.approx_eq(theoretical_val)
assert w_val_2.approx_eq(theoretical_val)

The error when computed for each value in the grouped z vals seperately

['1440' '1780' '1600' '2200' '1760'] ± ['720' '920' '830' '1100' '910']

The average of the values above

1750 ± 410

The error when computed for the averaged z value

1720 ± 860

The value computed with the true means of the distribution

1691.45 ± 0

In [8]:
u_val_1 = pt.calc_err(x + y**2 + y, {x: x_val, y: y_val})
u_val_2 = x_val + y_val**2 + y_val 
#since the terms y_val**2 and y_val are evaluated separately their correlation will not be captured in the final result. 
#In this case it is better to use the calc_err method
display(u_val_1)
display(u_val_2)
assert not u_val_1.allclose(u_val_2)

7.19 ± 0.57

7.19 ± 0.54

In [9]:
v_val_1 = pt.calc_err(x**sympy.sin(y**0.5), {x: x_val, y: y_val})
v_val_2 = x_val**(y_val**0.5).apply(sympy.sin) 
#if every independent variable only appears once in the expression the result of calc_err and direct evaluation will match up!
#In this case direct evaluation is sufficent
display(v_val_1)
display(v_val_2)
assert v_val_1.allclose(v_val_2)

1.00 ± 0.45

1.00 ± 0.45