In [1]:
import PhysicsTool as pt
import pandas as pd
import numpy as np
import sympy

In [2]:
x_center = 1.0
y_center = 2.0
z_center = 3.0

x_mean = x_center
x_error = 0.45
y_data = np.random.standard_normal(10) * 5.0 + y_center
z_data = np.random.standard_normal((10, 10)) * 2 + z_center

raw_data_table = pd.DataFrame({
    'y' : y_data,
} | {
    f'z_{i}' : col for i, col in enumerate(z_data)
})
print(f'x = {x_mean} +- {x_error}')
display(raw_data_table)

x = 1.0 +- 0.45

,y,z_0,z_1,z_2,z_3,z_4,z_5,z_6,z_7,z_8,z_9
0,2.707971,5.610185,3.089722,4.123386,7.333259,4.934509,1.824823,4.272122,3.382849,5.434029,-2.630699
1,-1.223995,2.978626,3.147876,0.792681,2.507795,3.083144,1.097678,5.706071,6.074764,2.414700,1.197269
2,5.483334,4.722422,-2.761868,1.075024,4.384146,5.785078,1.101338,-0.049993,2.104400,3.217410,3.022904
3,-3.550384,3.598800,3.690103,-0.152824,1.168998,5.722322,1.512804,2.399307,2.552665,2.193293,4.366712
4,-2.490223,2.766083,1.964797,0.652242,3.150620,0.915505,4.038830,3.448423,2.117412,4.536146,1.702321
5,4.082435,1.820614,2.607809,3.937426,2.625420,2.005181,1.790289,3.260296,2.733713,3.944608,1.644674
6,4.556580,5.194823,3.565639,2.499208,1.320855,3.150987,4.018744,1.463690,4.323032,0.892632,-1.267901
7,-5.013404,1.128114,4.240482,4.158530,0.534687,1.785084,2.263921,1.534214,1.070615,1.717803,4.949283
8,0.538454,3.581162,1.013915,0.929843,3.365276,0.339890,3.019584,4.580739,2.476619,3.331746,0.005436
9,-0.470374,6.384862,0.739410,2.890437,-0.461667,3.222153,-0.323306,2.695606,6.994755,5.777690,1.859529

In [3]:
x_val = pt.Err(x_mean, x_error)
y_val = pt.Err.from_data(y_data)
display(x_val)
display(y_val)

1.00 ± 0.45

0.5 ± 1.1

In [4]:
z_vals_grouped = pt.Err.from_data(z_data, axis = 1)

grouped_z_table_1 = pd.DataFrame({
    f'z_{i}' : [val.formatted_mean(), val.formatted_err()] for i, val in enumerate(z_vals_grouped)
}, index = ['mean', 'error'])

grouped_z_table_2 = pd.DataFrame({
    'z' : z_vals_grouped.latex()
})
grouped_z_table_2.index.name = 'i'

display(z_vals_grouped)
pt.log(grouped_z_table_1)
pt.log(grouped_z_table_2)

['3.78' '2.13' '2.09' '2.59' '3.09' '2.03' '2.93' '3.38' '3.35' '1.48'] ± ['0.53' '0.65' '0.51' '0.70' '0.60' '0.43' '0.54' '0.59' '0.50' '0.74']

        z_0   z_1   z_2   z_3   z_4   z_5   z_6   z_7   z_8   z_9
mean   3.78  2.13  2.09  2.59  3.09  2.03  2.93  3.38  3.35  1.48
error  0.53  0.65  0.51  0.70  0.60  0.43  0.54  0.59  0.50  0.74

\begin{table}[H]
\centering
\begin{tabular}{llllllllll}
\toprule
z_0 & z_1 & z_2 & z_3 & z_4 & z_5 & z_6 & z_7 & z_8 & z_9 \\
\midrule
3.78 & 2.13 & 2.09 & 2.59 & 3.09 & 2.03 & 2.93 & 3.38 & 3.35 & 1.48 \\
0.53 & 0.65 & 0.51 & 0.70 & 0.60 & 0.43 & 0.54 & 0.59 & 0.50 & 0.74 \\
\bottomrule
\end{tabular}
\caption{Caption}
\label{tab:labelname}
\end{table}

               z
i
0  $3.78\pm0.53$
1  $2.13\pm0.65$
2  $2.09\pm0.51$
3  $2.59\pm0.70$
4  $3.09\pm0.60$
5  $2.03\pm0.43$
6  $2.93\pm0.54$
7  $3.38\pm0.59$
8  $3.35\pm0.50$
9  $1.48\pm0.74$

\begin{table}[H]
\centering
\begin{tabular}{l}
\toprule
z \\
\midrule
$3.78\pm0.53$ \\
$2.13\pm0.65$ \\
$2.09\pm0.51$ \\
$2.59\pm0.70$ \\
$3.09\pm0.60$ \\
$2.03\pm0.43$ \\
$2.93\pm0.54$ \\
$3.38\pm0.59$ \\
$3.35\pm0.50$ \\
$1.48\pm0.74$ \\
\bottomrule
\end{tabular}
\caption{Caption}
\label{tab:labelname}
\end{table}

In [5]:
z_val_1 = z_vals_grouped.average()
z_val_2 = z_vals_grouped.weighted_average()

display(z_val_1)
display(z_val_2)

2.69 ± 0.19

2.72 ± 0.18

In [6]:
a,x,y,z,w = sympy.symbols('a,x,y,z,w')

print('our initial equation')
some_equation = sympy.Eq(w + y - sympy.sin(x), a * sympy.exp(y * sympy.sin(x)) / z + 2)
display(some_equation)

print('our equation solved for w')
w_expr = sympy.solve(some_equation, w)[0]
display(w_expr)

print('error derivation of w assuming x,y,z are values with errors and a is a constant')
pt.derive_err(w_expr, values = [x,y,z], target_symbol=w, do_display=True)

our initial equation

Eq(w + y - sin(x), a*exp(y*sin(x))/z + 2)

our equation solved for w

a*exp(y*sin(x))/z - y + sin(x) + 2

error derivation of w assuming x,y,z are values with errors and a is a constant

Eq(s_w**2, s_x**2*Derivative(w(y, x, z), x)**2 + s_y**2*Derivative(w(y, x, z), y)**2 + s_z**2*Derivative(w(y, x, z), z)**2)

Eq(s_w**2, s_x**2*(a*y*exp(y*sin(x))*cos(x)/z + cos(x))**2 + s_y**2*(a*exp(y*sin(x))*sin(x)/z - 1)**2 + s_z**2*(-a*exp(y*sin(x))/z**2)**2)

Eq(s_w, sqrt(s_x**2*(a*y*exp(y*sin(x))*cos(x)/z + cos(x))**2 + s_y**2*(a*exp(y*sin(x))*sin(x)/z - 1)**2 + s_z**2*(-a*exp(y*sin(x))/z**2)**2))

sqrt(s_x**2*(a*y*exp(y*sin(x))*cos(x)/z + cos(x))**2 + s_y**2*(a*exp(y*sin(x))*sin(x)/z - 1)**2 + s_z**2*(-a*exp(y*sin(x))/z**2)**2)

In [7]:
w_grouped_val = pt.calc_err(w_expr, {a : np.pi, x: x_val, y: y_val, z: z_vals_grouped})
w_val_1 = w_grouped_val.average()
w_val_2 = pt.calc_err(w_expr, {a : np.pi, x: x_val, y: y_val, z: z_val_1})
theoretical_val = pt.calc_err(w_expr, {a: np.pi, x: x_center, y: y_center, z: z_center})
print('The error when computed for each value in the grouped z vals seperately')
display(w_grouped_val)
print('The average of the values above')
display(w_val_1)
print('The error when computed for the averaged z value')
display(w_val_2)
print('The value computed with the true means of the distribution')
display(theoretical_val)

The error when computed for each value in the grouped z vals seperately

['3.61' '4.6' '4.6' '4.17' '3.88' '4.7' '3.96' '3.75' '3.76' '5.5'] ± ['0.42' '1.3' '1.2' '0.87' '0.59' '1.3' '0.64' '0.50' '0.49' '2.5']

The average of the values above

4.24 ± 0.36

The error when computed for the averaged z value

4.10 ± 0.69

The value computed with the true means of the distribution

6.5 ± 0